.__scroll-top__ {
    position: fixed;
    bottom: 64px;
    right: 64px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    z-index: 999;
}

.__scroll-top__ img {
    width: 100%;
    height: 100%;
}